*{
	box-sizing: border-box;
}
body {
	font-family: Arial, Helvetica, Sans-serif;
}
h1 {
	font-size: 175%;
	text-align: center;
}
div.row > div{
	background-color: white;
	padding: 10px;
}
section {
	width: 100%;
	font-size: 125%;
	background-color: #BDB76B;
	border: 1px solid black;
	padding: 5px;
	margin-bottom: 20px;	
	position: relative;
	
}

.none{
	width: 150px;
	height: 40px;
}
p {
	margin-top: 2px;
}

#divSec1{
	width: 150px;
	font-size: 175%;
	border: 1px solid black;
	text-align: center;
	background-color: red;
	position: absolute;
	right: 0px;
	top: -1px;


	
}
#divSec2{
	width: 150px;
	font-size: 175%;
	border: 1px solid black;
	text-align: center;
	background-color: blue;
	position: absolute;
	right: 0px;
	top: -1px;
	
}
#divSec3{
	width: 150px;
	font-size: 175%;
	border: 1px solid black;
	text-align: center;
	background-color: green;
	position: absolute;
	right: 0px;
	top: -1px;
	
}

.row
{
	width: 100%;
}
@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
	}
	.col-lg-4 {
		width: 33.33%;
		

	}
}
@media(min-width: 768px) and (max-width: 991px){
	.col-md-6, .col-md12 {
		float: left;
	}
	.col-md-6 {
		
		width: 50%;
		
	}
	.col-md-12 {

		width: 100%;
		clear: left;
	}
}
